/**
 * Controls the main layout (width, height, margin, padding)
 *
 * #container
 *   #header
 *   #page
 *     #content
 *     #sidebar
 *   #footer
 */
body {
	margin: 0; padding: 1em; 
}

#container {
	text-align: left;
	margin: 0 auto; padding: 0;
}

#header {
	height: 60px; 
	margin: 0 0 15px; padding: 0;
}

#page { }

#content {
	padding-left: 210px;
	text-align: left;
}

#sidebar {
	width: 185px;
	height: 100%
	vertical-align: top;
	position: absolute;
	top: 22px;
}

#footer {
	height: 40px; 
	margin: 10px 0 0; padding: 10px 0 0;
	clear:both; 
	margin-left: 210px;
}

